
.ImageUploader{
    border: 3px solid #554455;
    border-radius: 10px;
    max-width: 1000px;
    margin: 25px auto;
    background-color: aquamarine;  
}

.File{
    opacity: 0;
    width: 100%;
    height: 150px;
}
